:root {
	--circleCenterSize: 90px;
	--circleCenterSizeSmall: 70px;
	--orange: #ff5722;
	--darkOrange: #EB3800;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 320px;
	background-color: #F0F2F5;
	color: #262626;
	line-height: 1.2;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: 'Source Sans Pro', sans-serif
}

button {
	border: none;
	background: none;
	padding: 0;
}

#wheel {
	width: 100%;
	max-width: 600px;
}

.transparent {
	opacity: 0.5;
}

.timer,
.new-timer,
.prize-name,
.stock.in {
	color: var(--orange);
	text-decoration: underline;
}

.window {
	width: 500px !important;
}